{% extends "popup/base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'layui/layui.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="layui-container" style="margin: 4px">
        <form class="layui-form" enctype="multipart/form-data"
              action="{% url 'tag_popup_create' %}{% if to_field %}?to_field={{ to_field }}{% endif %}"
              method="post">
            {% include 'post/form.html' %}

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn">新增</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}